@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Playwrite+AU+VIC+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sigmar&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Playwrite+AU+VIC+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sigmar&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;

}


body {
    background-color: #ecf0f1;
    font-size: 16px;
}


header {
    width: 100%;
    height: 300px;
    background-color: #3498db;
    text-align: center;
}

.logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2px;
    margin-left: 6rem;
}

.logoContainer span {
    font-size: 2rem;
    color: white;
    font-weight: 800;
}

.logoContainer img {
    width: 40px;
    height: 40px;
    border-radius: 50%;

}


.titleContainer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.titleContainer h1 {
    font-size: 42px;
    color: white;
    text-transform: uppercase;
    font-weight: 100;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
}

.titleContainer p {
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    font-weight: 100;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.titleContainer .auto-type {
    color: rgb(255, 143, 14);
}

.navBarConatiner{
    margin-right: 10rem;
}
header nav {
    height: auto;
    padding: 8px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: #fff;
    font-weight: 500;
    display: inline-block;
    padding: 10px 15px;
    line-height: 1;
    text-decoration: none;
    border-radius: 2px;
}

header nav a:hover {
    box-shadow: 0 0 0 1px #fff;
}


body.sticky-header {
    padding-top: 100px;
}

body.sticky-header header {
    height: 60px;
    background-color: rgba(52, 152, 219, 0.9);
}


.cards {
    margin: 20px auto;
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-evenly;
}

.links {
    width: 26%;
    height: 28vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.links .card h2 {
    color: rgba(52, 152, 219, 0.9);
}

.links .card p {
    color: rgba(174, 173, 173, 0.988);
}

.links:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgb(164, 211, 253), 0 0 30px rgb(161, 205, 219);
}

footer {
    background: #363636;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    width: 100%;
    height: 10vh;
}

footer img{
    width: 20px;
    height: 20px;
}